.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Распределяет элементы по разным сторонам */
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff; /* Цвет при наведении */
}

.header__user {
    display: flex;
    align-items: center;
    gap: 48px;
}

.profile-name {
    font-size: 1.5rem;
    margin: 0;
}

.avatar {
    width: 70px;
    height: 70px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.logout {
    margin: 0;
}

.logout button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.logout button:hover {
    background-color: #ff3336;
}
